<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <h1>Hubungi kami</h1>
    <p>Nama</p>
    <input type="text" name="Nama" id="nama">
    <p>No Hp</p>
     <input type="text" name="No-hp" id="No-hp">
     <p>email</p>
      <input type="text" name="Email" id="email">
      <br>
      <button type="button">kirim</button>
      <br>
      <a href="/">back to home</a>
</body>
</html>